.nav-header {
    display: flex;
    flex-direction: row;
    height: 150px;
}
.nav-header div:nth-child(1) { flex-grow: 1; }
.nav-header div:nth-child(2) { flex-grow: 6; }
.nav-header div:nth-child(3) { flex-grow: 1; }
